*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
h2{
    font-family: 'Montserrat';
    color: #66BFBF;
    font-size: 3rem;
}

h3{
    font-size: 20px;
    color: #11999E;
    margin-bottom: 20px;
}

.First{
    background-color: #E4F9F4;
    text-align: center;
    padding-top: 6.25rem;
    position: relative;
    /* border: 5px solid black; */
}


.cl1{
    position: absolute;
    right: 27.625rem;
    top: 3.125rem;
}

.cl2{
    position: absolute;
    left: 18.75rem;
    top: 18.75rem;
}


.name{
    font-size: 5.9375rem;
    font-weight: bold;
    font-family: sacramento;
    color: #66BFBF;
}

.role{
    font-size: 1.875rem;
    text-decoration: underline;
    margin-top: 0.625rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}



.m1{
    top: 3px;
    position: relative;
    width: 900px;
}

.middle-container{
    text-align: center;
    background-color: rgba(227, 235, 237, 0.256);
}

.pic{
    height: 250px;
    width: 242px;
    margin-top: 50px;
    /* border: 5px solid rgba(220, 220, 220, 0.484); */
    border-radius: 50%;
    
}

.mid-hello{
    font-family: 'Montserrat';
    margin-top: 25px;
    color: #66BFBF;
    font-size: 42px;
    margin-bottom: 35px;
}

p.mid-bio {
    margin: auto;
    color: #40514E;
    font-size: 18px;
    font-family: 'Merriweather';
    /* left: 516px; */
    /* position: relative; */
    width: 475px;
    line-height: 2;
    display: block;
}

hr{
    width: 3%;
    margin: auto;
    border-style: none;
    border-top: 5px dotted rgba(128, 128, 128, 0.26);
    border-spacing: 50px;
    margin-top: 65px;
    margin-bottom: 65px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.edit-img{
    width: 150px;
    float: left;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.edit-img2{
    width: 20%;
    float: right;
    border-radius: 50%;
    margin-left: 30px;
}



#last-head{
    margin: 40px 0 40px 0;
}

.last-bio{
    line-height: 1.8;
    width: 40%;
    margin: auto;
}


a{
    display: inline-block;
    margin-bottom: 25px;
}

a:hover{
    color: black
}

.btn{
    background-color: #13a9ae;
    background-image: -webkit-linear-gradient(top, #66BFBF, #847a7a);
    color: #E4F9F4;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 80px;
    font-family: sans-serif;
    font-size: 18px;
}

.btn:hover{
    color: white;
    box-shadow: 2.5px 2.5px 8.8px black ;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
}


.bottom-container{
    background-color: #66BFBf;
    padding: 40px 0 5px 0;
    text-align: center;
}

.footer-link{
    color: #11999E;
    padding-right: 40px;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.copyright{
    margin: 20px;
    color: white;
    font-size: 10px;
}



 /* this was my last code done by me */

 /* .edit-img{
    border: none;
    border-radius: 50%;
    width: 25%;
    position: absolute;
    left: 421px;
}



div.skill-row{
    margin-top: auto;
    width:50%;
}

.skill-head1{
    font-size: 25px;
    padding-bottom: 15px;
}

.skill-bio1{
    width: 30%;
    margin: auto;
    padding-left: 290px;
    text-align: justify;
    line-height: 1.8;
}
.edit-img2{
    left:auto;
    right: 375px;
}

.skill-head2{
    padding-right: 495px;
    font-size: 25px;
    padding-bottom: 15px;
}

.skill-bio2{
    width: 30%;
    margin: auto;
    padding-right: 214px;
    text-align: justify;
    line-height: 1.8;
} */

